@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-light: #ccc;
  --foreground: #171717;
}

* {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --background-light: #222;
    color-scheme: dark;
  }
}

.toggleSearchBox {
  animation: toggleSearchBox 0.5s ease forwards;
}

@keyframes toggleSearchBox {
  from {
    margin-right: auto;
  }
  to {
    margin-right: auto;
    width: 100%;
  }
}

img {
  user-select: none;
  pointer-events: none;
}

.swiper-button-prev,
.swiper-button-next {
  @apply bg-zinc-900 rounded-full !h-10 !w-10 !text-slate-200 !font-extrabold;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1rem !important;
}

.swiper-pagination-bullet-active {
  @apply !bg-red-500;
}

.loader {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border-left: 4px solid #319bbb;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

.vote-average {
  &::after {
    content: "";
    position: absolute;
    inset: 3px;
    background-color: transparent;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    z-index: 2;
  }
  
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: transparent;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  &[data-color="yellow"]::before {
    background: conic-gradient(#e8e82f var(--percent), var(--background-light) var(--percent));
  }

  &[data-color="red"]::before {
    background: conic-gradient(#d72727 var(--percent), var(--background-light) var(--percent));
  }

  &[data-color="green"]::before {
    background: conic-gradient(#1ebc1e var(--percent), var(--background-light) var(--percent));
  }
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
